body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
.header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main content styling */
.main-content {
    width: 80%;
    margin: 20px auto;
}

/* Form styling */
#contact-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.main-content input[type="submit"] {
    background-color: #ff3066;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.slides {
    display: none;
    background-color: black;
  }  
  /* Fading animation */
  .fade {
    animation: fade 3s;
  }
  
  @keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
.slideshow .slideshow-container img{
    width: 1000px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

.year {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.users{
    
    display: flex;
    text-align: center;
    margin: 100px 100px;
}
.left{
    display: flex;
}
.right{
    display: flex;
}
.center{
    display: flex;
}
.facts
{
    text-align: center;
    font-size: 40px;

}
.inven
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
